<robot
  name="minicar2">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.060886 1.1935E-15 -0.01524"
        rpy="0 0 0" />
      <mass
        value="5" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://minicar2/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://minicar2/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="wl">
    <inertial>
      <origin
        xyz="3.4694E-18 -0.005 -2.7756E-17"
        rpy="0 0 0" />
      <mass
        value="1" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://minicar2/meshes/wl.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://minicar2/meshes/wl.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="jl"
    type="continuous">
    <origin
      xyz="0 0.06 -0.015"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="wl" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="wr">
    <inertial>
      <origin
        xyz="0 0.005 0"
        rpy="0 0 0" />
      <mass
        value="1" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://minicar2/meshes/wr.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://minicar2/meshes/wr.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="jr"
    type="continuous">
    <origin
      xyz="0 -0.06 -0.015"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="wr" />
    <axis
      xyz="0 0.99083 0.13511" />
  </joint>
</robot>