<robot
  name="minicar">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.060886 7.494E-16 -0.01524"
        rpy="0 0 0" />
      <mass
        value="0.60636" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://minicar/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://minicar/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="l_wh">
    <inertial>
      <origin
        xyz="-1.3878E-17 -0.005 -5.5511E-17"
        rpy="0 0 0" />
      <mass
        value="0.050195" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://minicar/meshes/l_wh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://minicar/meshes/l_wh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j1"
    type="continuous">
    <origin
      xyz="0 0.06 -0.015"
      rpy="0 0 6.9389E-17" />
    <parent
      link="base_link" />
    <child
      link="l_wh" />
    <axis
      xyz="0 -1 0" />
  </joint>
  <link
    name="r_wl" />
  <joint
    name="j2"
    type="continuous">
    <origin
      xyz="0 -0.06 -0.015"
      rpy="0 0 6.9389E-17" />
    <parent
      link="base_link" />
    <child
      link="r_wl" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>