<?xml version="1.0" encoding="UTF-8"?>
<launch>

 <include file="$(find gazebo_ros)/launch/empty_world.launch"/>

  <param name="robot_description" command="$(find xacro)/xacro.py '$(find Eurodot_2018_gazebo)/eu_map_Exported/eu_map/eu_map.urdf'"/>

 <node name="urdf_spawner" 
 	pkg="gazebo_ros" 
 	type="spawn_model"
 	args="-urdf -param robot_description -model eu_map" 
 	respawn="false" 
	output="screen"/> 
</launch> 
