<robot
  name="assam">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.00358608863369359 -0.0149621208311566 0.305093257484609"
        rpy="0 0 0" />
      <mass
        value="1.68994026795429" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://assam/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://assam/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="w1">
    <inertial>
      <origin
        xyz="-3.94649590784724E-17 0.21 -0.015"
        rpy="0 0 0" />
      <mass
        value="0.098005596771295" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://assam/meshes/w1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://assam/meshes/w1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j1"
    type="continuous">
    <origin
      xyz="0.0035861 -0.41 -6.8633E-05"
      rpy="-6.123E-17 0 0" />
    <parent
      link="base_link" />
    <child
      link="w1" />
    <axis
      xyz="1 0 0" />
  </joint>
  <link
    name="w2">
    <inertial>
      <origin
        xyz="-0.115 5.55111512312578E-17 -0.015"
        rpy="0 0 0" />
      <mass
        value="0.098005596771295" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://assam/meshes/w2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://assam/meshes/w2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j2"
    type="revolute">
    <origin
      xyz="0.0035861 -0.41 -6.8633E-05"
      rpy="-6.123E-17 0 0" />
    <parent
      link="base_link" />
    <child
      link="w2" />
    <axis
      xyz="1 0 0" />
    <limit
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="w3">
    <inertial>
      <origin
        xyz="0.115 0 -0.015"
        rpy="0 0 0" />
      <mass
        value="0.098005596771295" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://assam/meshes/w3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://assam/meshes/w3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j3"
    type="revolute">
    <origin
      xyz="0.00358608863369358 -0.41 -6.86334715221801E-05"
      rpy="-6.12303176911189E-17 0 0" />
    <parent
      link="base_link" />
    <child
      link="w3" />
    <axis
      xyz="1 0 0" />
  </joint>
</robot>